div.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.top {
    height: 22vh;
    width: 100vw;
}

.bottom {
    height: 78vh;
    width: 100vw;
    display: flex;
    flex-flow: row;
}

.menu {
    height: 5vh;
    width: 100vw;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    display:flex; 
    flex-direction:row;
}

.left-bar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
}

.doc {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 85%;
}
